body {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Neutralize styling:
Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
    blockquote, ul, ol, dl, address {
    margin: 1em 0;
    padding: 0;
}

/* Apply left margin:
Only to the few elements that need it: */
li, dd, blockquote {
    margin-left: 1em;
}

/* Miscellaneous conveniences: */
form label {
    cursor: pointer;
}

fieldset {
    border: none;
    border-top: thin #C9C9B1 solid;
}

input, select, textarea {
    font-size: 100%;
    border: gray solid thin;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: #57470C;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

input, select {
    border: 1px solid gray;
}

#center {
    width: 962px;
    margin: 10px auto 0;
    text-align: left;
    background-color: #F2F2E8;
}

table {
    border-collapse: collapse;
    font-size: 100%;
}

table.workouts {
    border: #4B4C3C solid thin;
}

.workouts tr td {
    padding-left: 1em;
    padding-right: 1em;
}

table.workouts tr.odd td {
    background-color: #C9C9B1;
}

table.workouts tr.even td {
    background-color: #EBE1C6;
}

th {
    text-align: left;
    color: #57470C;
}

hr {
    color: #57470C;
    background-color: #57470C;
    height: 2px;
    border: none;
}

h2, h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #57470C;
}

.flashPart {
    background-color: #FFEC00;
}

#undo, span#undo a {
    color: black;
    background-color: #F9630D;
}

.tip {
    display: inline;
}

.time_col, .distance_col {
    text-align: right;
}

.feedback {
    font-weight: bold;
}

.errorMessage {
    color: red;
}

#logoutForm {
    display: inline;
}

#logoutForm input {
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;
    color: #57470C;
    font-family: Verdana, arial, helvetica, sans-serif;
}

#logoutForm input:hover {
    text-decoration: underline;
}

.aroundForm {
    text-align: center;
}

p.loginLabel {
    padding-top: 1em;
}

#logo, #logo a:hover {
    font-family: sans-serif;
    text-decoration: none;
}

#logo {
    margin-top: 0;
    padding-top: 0;
    font-size: 3em;
    padding-bottom: 0;
}

#loginHeader, #loginHeader a, #loginHeader #logoutForm input {
    text-align: right;
    font-size: 100%;
    background-color: #968148;
    color: #F2F2E8;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.smaller {
    font-size: smaller;
}

#globalLeft {
    width: 49.5%;
    float: left;
    padding-left: 5px;
}

#globalRight {
    width: 39.5%;
    float: right;
}

#content {
    overflow: auto;
    zoom: 1;
    _overflow: visible;
}

#bottom {
    margin-top: 3em;
}

#ad {
    text-align: center;
    margin: 4px 0 0 4px
}

div.autocomplete {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.messageHeading {
    font-size: smaller;
    color: #968148;
}

.messageContent {
    padding-left: 1em;
}

.message {
    border-top: #C9C9B1 solid thin;
    padding-top: 0.1em;
    margin-top: 0.5em
}

.received {
    background-color: white;
    border: #C9C9B1 solid thin;
}

.messages {
    border-bottom: #C9C9B1 solid thin;
}

.received .messageHeading .message_from {
    color: #57470C;
    font-weight: bold;
}

.sent .messageContent {
    color: gray;
}

textarea#messageContent {
    width: 100%;
}

.unknown {
    color: gray;
    font-style: italic;
}