body {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Neutralize styling:
Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
    blockquote, ul, ol, dl, address {
    margin: 1em 0;
    padding: 0;
}

/* Apply left margin:
Only to the few elements that need it: */
li, dd, blockquote {
    margin-left: 1em;
}

/* Miscellaneous conveniences: */
form label {
    font-weight: bold;
}

fieldset {
    border: none;
    border-top: thin #C9C9B1 solid;
    border-bottom: thin #C9C9B1 solid;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-size: 100%;
    border: gray solid thin;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a, a:visited {
    text-decoration: none;
    color: #57470C;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#center {
    width: 962px;
    margin: 10px auto 0;
    text-align: left;
    background-color: #F2F2E8;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    margin: auto;
}

table.workouts {
    border: #4B4C3C solid thin;
}

.workouts tr td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.workouts tr td.img {
    padding-left: 0;
    padding-right: 0;
}

table.workouts tr.odd td {
    background-color: #C9C9B1;
}

table.workouts tr.even td {
    background-color: #EBE1C6;
}

table.workouts tr.highLight td {
    background-color: #9C9A69;
}

th {
    text-align: left;
    color: #57470C;
}

hr {
    color: #57470C;
    background-color: #57470C;
    height: 2px;
    border: none;
}

h2, h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #57470C;
}

.flashPart {
    background-color: #FFEC00;
}

#undo, span#undo a {
    color: black;
    background-color: #F9630D;
}

.tip {
    display: inline;
}

.time_col, .distance_col {
    text-align: right;
}

.feedback {
    font-weight: bold;
}

.errorMessage {
    color: red;
}

#logoutForm {
    display: inline;
}

#logoutForm input {
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;
    color: #57470C;
    font-family: Verdana, arial, helvetica, sans-serif;
}

#logoutForm input:hover {
    text-decoration: underline;
}

p.loginLabel {
    padding-top: 1em;
}

#logo, #logo a:hover {
    font-family: sans-serif;
    text-decoration: none;
}

#logo {
    margin: 0 0 0.2em 0;
    padding-top: 0;
    font-size: 3em;
    padding-bottom: 0;
    float: left;
    position: relative;

}

#loginHeader {
    margin-bottom: 0.5em;
}

#loginHeader, #loginHeader a, #loginHeader #logoutForm input {
    text-align: right;
    font-size: 100%;
    background-color: #968148;
    color: #F2F2E8;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.smaller {
    font-size: smaller;
}

#globalLeft {
    width: 49.5%;
    float: left;
    padding: 2px;
    padding-left: 5px;
}

#globalRight {
    width: 46%;
    float: right;
    padding: 2px;
}

#content {
    overflow: auto;
    zoom: 1;
    _overflow: visible;
}

#bottom {
    margin-top: 3em;
}

#ad {
    text-align: center;
    margin: 4px 0 0 4px
}

div.autocomplete {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.messageHeading {
    font-size: smaller;
    color: #968148;
    background-color: lightgray;
    display: block;
    padding-left: 0.5em;
}

.messageContent {
    padding-left: 1em;
}

.message {
    margin-top: 0.5em
}

.workout {
    font-size: smaller;
    color: #968148;
}

.received, .public {
    background-color: white;
    border: black solid thin;
}

.received .messageHeading .message_from, .public .messageHeading .message_from {
    color: #57470C;
    font-weight: bold;
}

.sent {
    border-top: #C9C9B1 solid thin;
}

.sent .messageHeading {
    color: gray;
    background: none;
}

.sent .messageContent {
    color: gray;
}

textarea#messageContent {
    width: 99%;
}

.charcount-safe {
    color: gray;
    font-size: smaller;
    text-align: right;
}

.charcount-limit {
    font-size: smaller;
    color: #57470C;
    font-weight: bold;
    text-align: right;
}

#tinyCenter {
    width: 40%;
    margin-left: auto;
    margin-right: auto
}

.workout .tinyWorkout {
    font-weight: bold;
    padding-left: 0.5em;
}

table.displayFormLayoutTable {
    border-collapse: separate;
    border: none;
    font-size: larger;
}

table.displayFormLayoutTable tr td {
    vertical-align: text-top;
    padding-top: 1em;
}

table.displayFormLayoutTable tr td .label {
    white-space: nowrap;
    text-align: right;
    display: block;
    font-size: smaller;
}

.serverDefault {
    color: gray;
    font-style: italic;
    font-size: smaller;
}

#ad {
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

#gradient {
    position: absolute;
    height: 100%;
    width: 100%;
}

#adPlaceHolder {
    height: 60px;
}

.bigWorkout {
    font-size: larger;
    border: solid thick #57470C;
    text-align: center;
}


