/* Miscellaneous conveniences: */
img {
    border: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-size: 100%;
    border: #808080 solid 1px;
    margin: 0;
    padding: 3px;
    vertical-align: baseline;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid #404040;
    padding: 2px;
}

form {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    font-size: 100%;
}

tr.highLight {
    background-color: #E0E0D0;
}

th {
    text-align: left;
    color: #403615;
}

.feedback {
    font-weight: bold;
}

.errorMessage {
    color: red;
}

p.tinyLabel {
    font-size: 11px;
}

p.loginLabel {
    padding-top: 1em;
    margin-bottom: 0.5em;
}

label .labelComplement {
    font-weight: normal;
    font-size: 11px;
}

#heading {
    width: 100%;
    height: 60px;
    text-align: right;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 3px;
    zoom: 1;
    _overflow: visible;

}

#leftHeading {
    width: 20em;
    text-align: left;
    float: left;
    zoom: 1;
    _overflow: visible;
}

#logo {
    background: none;
    padding: 0;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-size: 3em;
    height: auto;
    line-height: 1;
}

#logoSpan {
    position: relative;
    display: block;
}

#logoHref, a#logoHref:hover {
    color: #824900;
    text-decoration: none;
}

#oo {
    color: #D97900;
}

#loginHeader {
    margin-bottom: 0.5em;
    text-align: right;
    font-size: 100%;
    background-color: #E0C87A;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
    padding: 0.5em 0.5em 0;
}

#loginHeader a {
    font-weight: bold;
    color: #8F5902;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-decoration: none;
}

#loginHeader * .selected {
    background-color: #F5F5E0;
    color: #8F5902;
}

#loginHeader #loginName {
    color: #D97900;
}

#loginHeader .left {
    text-align: left;
    float: left;
}

#loginHeader .right {
    text-align: right;
    float: right;
}

#globalLeft {
    width: 49.5%;
    float: left;
    position: relative;
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

#globalRight {
    position: relative;
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

#bottom {
    margin-top: 3em;
}

div.autocomplete {
    position: absolute;
    z-index: 2;
    width: 250px;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.messageHeading {
    background-color: #BACF6D;
    padding-left: 0.5em;
    border: none;
    height: 1.9em;
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
}

.messageHeading a {
    color: white;
}

.messageHeading form input {
    background: none;
    color: white;
    border: none;
    padding: 1px;
}

.messageHeading form input:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.messageContent {
    padding-left: 1em;
}

.message {
    margin-top: 0.5em;
    width: 99%;
    overflow: hidden;
}

.workout {
    color: #6C3C1E;
    padding-left: 0.5em;
}

.received, .public {
    background-color: #F6F4D7;
}

.received .messageHeading .message_from, .public .messageHeading .message_from {
    color: #57470C;
    font-weight: bold;
}

.newMessage {
    border-top: 2px solid #000000;
}

.sent {
    border-top: #C9C9B1 solid thin;
}

.sent .messageHeading, .sent .messageHeading a {
    color: gray;
    background: none;
    border: none;
}

.sent .messageHeading form input {
    color: gray;
}

.sent .messageContent {
    color: gray;
}

textarea.messageContentArea {
    width: 99%;
}

.charcount {
    display: block;
    text-align: right;
}

.charcount-safe {
    color: gray;
}

.charcount-limit {
    color: red;
    font-weight: bold;
}

#tinyCenter {
    width: 50%;
    margin-left: auto;
    margin-right: auto
}

.workout .tinyWorkout {
    font-weight: bold;
}

.serverDefault {
    color: gray;
    font-style: italic;
}

.userInteresting {
    font-size: larger;
    font-weight: bold;
}

#gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#adPlaceholder {
    height: 60px;
    width: 468px;
    float: right;
}

.bigWorkout {
    text-align: center;
    margin: 1.5em;
    padding: 3px;
}

.bigWorkout .workout {
    font-size: 20px;
}

.messageNumber {
    color: #D97900;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    padding: 0 0 6px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    left: 0;
}

a.messageLink {
    position: relative;
    text-decoration: none;
    display: block;
    zoom: 1;
}

a.messageLink:hover {
    color: black;
}

.messageLink:hover {
    text-decoration: none;
    color: inherit;
}

.messageLink img {
    vertical-align: bottom;
}

.pagination {
    overflow: hidden;
}

.paginationPrevious, .paginationNext {
    margin-top: 0.5em;
}

.paginationPrevious {
    float: left;
}

.paginationNext {
    float: right;
}

.actionMessages li {
    background: #D97900;
    list-style: none;
    text-align: center;
    font-size: x-large;
    margin-right: 20%;
    margin-left: 20%;
}

.content a.selected {
    text-decoration: none;
    cursor: normal;
}

div.userInteresting {
    padding: 0.2em;
    margin: 1em 0;
    background-color: rgb( 230, 230, 230 );
    border: rgb( 200, 200, 200 ) solid 2px;
}

ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

p.submit {
    text-align: right;
    margin-bottom: 0;
}

.labelstyle {
    background-color: #ffffff;
    font-weight: bold;
    border: 2px #006699 solid;
}

.tooltipRaiser {
    cursor: help;
}

.pen {
    border: #D97900 dashed thin;
}

#about {
    text-align: center;
}

#myAccount {
    font-size: x-small;
}

#nikeplusRunLink {
    font-size: 18px;
}

.groupForm {
    text-align: right;
    display: block;
}

.groupSubmit {
    width: 150px;
}

.createGroupName {
    width: 99%;
}

.messageSource {
    float: left;
    margin-top: 5px;
}

.messageButtons {
    float: right;
    margin-top: 5px;
}

.deleteMessageForm {
    display: inline;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.groupTopicPrefix {
    font-weight: normal;
}

ul.sheet li .period {
    text-align: right;
}

ul.sheet li .data {
    text-align: right;
}

/************* tooltip stuff ***************/
#bubble_tooltip {
    width: 182px;
    position: absolute;
    display: block;
    z-index: 1;
}

#bubble_tooltip .bubble_top {
    background-image: url( 'tooltip/bubble_top.png' );
    background-repeat: no-repeat;
    height: 16px;
}

#bubble_tooltip .bubble_middle {
    background-image: url( 'tooltip/bubble_middle.png' );
    background-repeat: repeat-y;
    background-position: bottom left;
    padding: 0 12px;
}

#bubble_tooltip .bubble_middle div {
    position: relative;
    font-size: 12px;
}

#bubble_tooltip .bubble_bottom {
    background-image: url( 'tooltip/bubble_bottom.png' );
    background-repeat: no-repeat;
    height: 46px;
    position: relative;
}

/****************** END TOOLTIP ******************/
