body {
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #303030;
    background: #fff url( '/static/bg.gif' );
}

/* Neutralize styling:
Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
    blockquote, ul, ol, dl, address {
    margin: 1em 0;
    padding: 0;
}

/* Apply left margin:
Only to the few elements that need it: */
li, dd, blockquote {
    margin-left: 1em;
}

/* Miscellaneous conveniences: */
form label {
    font-weight: bold;
}

fieldset {
    border: 2px black solid;
    margin: 10px 0 10px 0;
    padding: 10px 5px 10px 3px;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-size: 100%;
    border: gray solid thin;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

textarea {
    border: gray inset 2px;
}

form {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #D97900;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    background-color: #D97900;
    color: #FFFAF3;
}

#center {
    width: 962px;
    margin: 0 auto 0;
    text-align: left;
    background-color: white;
    padding: 0 10px 10px 10px;
}

table {
    border-collapse: collapse;
    font-size: 100%;
}

table.workouts {
    border: #4B4C3C solid thin;
    margin: 2px auto;
}

.workouts tr td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.workouts tr tdg {
    padding-left: 0;
    padding-right: 0;
}

table.workouts tr.odd td {
    background-color: #FFF0DE;
}

table.workouts tr.even td {
    background-color: #FFFAF4;
}

table.workouts tr.highLight td {
    background-color: #E0E0D0;
}

th {
    text-align: left;
    color: #57470C;
}

hr {
    color: #57470C;
    background-color: #57470C;
    height: 2px;
    border: none;
}

h2, h1 {
    margin-top: 1em;
    color: #6C3C1E;
    font-family: georgia, "times new roman", serif;
    font-size: 22px;
    background-image: url( '/static/db1.gif' );
    background-repeat: no-repeat;
    height: 60px;
    padding-left: 22px;
    margin-bottom: -15px;

}

.content {
    padding-left: 22px;
    position: relative;
    overflow: hidden;
}

#undo, span#undo a {
    color: black;
    background-color: #F9630D;
}

.time_col, .distance_col {
    text-align: right;
}

.feedback {
    font-weight: bold;
}

.errorMessage {
    color: red;
}

p.tinyLabel {
    font-size: 11px;
}

p.loginLabel {
    padding-top: 1em;
    margin-bottom: 0.5em;
}

label .labelComplement {
    font-weight: normal;
    font-size: 11px;
}

#logo {
    background: none;
    padding-left: 0;
    font-family: helvetica, sans-serif;
    margin: 0;
    padding-top: 0;
    font-size: 3em;
    padding-bottom: 0;
    float: left;
}

#logoHref, a#logoHref:hover {
    background-color: white;
    color: #824900;
    text-decoration: none;
}

#oo {
    color: #D97900;
}

#catchPhrase {
    margin-top: 30px;
    float: right;
    font-size: 20px;
    color: #824900;
}

#loginHeader {
    margin-bottom: 0.5em;
    text-align: right;
    font-size: 100%;
    background-color: #824900;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
    padding: 0.5em 0.5em 0;
}

#loginHeader a {
    font-weight: bold;
    color: white;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#loginHeader * .selected {
    background-color: white;
    color: #824900;
}

#loginHeader #loginName {
    color: white;
}

#loginHeader .left {
    text-align: left;
    float: left;
}

#loginHeader .right {
    text-align: right;
    float: right;
}

#globalLeft {
    width: 49.5%;
    float: left;
    position: relative;
}

#globalRight {
    width: 46%;
    float: right;
    padding: 2px;
    position: relative;
}

#content {
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
    padding-top: 1em;
}

#bottom {
    margin-top: 3em;
}

#ad {
    text-align: center;
    margin: 4px 0 0 4px
}

div.autocomplete {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.messageHeading {
    color: white;
    background: #824900 url( /static/thbg.gif ) repeat-x scroll 0;
    padding-left: 0.5em;
    border: none;
    height: 1.9em;
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
}

.messageHeading a {
    color: white;
}

.messageHeading form input {
    background: none;
    color: white;
    border: none;
    padding: 1px;
}

.messageHeading form input:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.messageContent {
    padding-left: 1em;
}

.message {
    margin-top: 0.5em
}

.workout {
    color: #6C3C1E;
    padding-left: 0.5em;
}

.received, .public {
    background-color: white;
    border: #A9A9A9 solid thin;
}

.received .messageHeading .message_from, .public .messageHeading .message_from {
    color: #57470C;
    font-weight: bold;
}

.newMessage {
    border: black solid thick;
}

.sent {
    border-top: #C9C9B1 solid thin;
}

.sent .messageHeading, .sent .messageHeading a {
    color: gray;
    background: none;
    border: none;
}

.sent .messageHeading form input {
    color: gray;
}

.sent .messageContent {
    color: gray;
}

textarea.messageContentArea {
    width: 99%;
}

.charcount-safe {
    color: gray;
    text-align: right;
}

.charcount-limit {
    color: red;
    font-weight: bold;
    text-align: right;
}

#tinyCenter {
    width: 40%;
    margin-left: auto;
    margin-right: auto
}

.workout .tinyWorkout {
    font-weight: bold;
}

table.displayFormLayoutTable {
    border-collapse: separate;
    border: none;
    font-size: larger;
}

table.displayFormLayoutTable tr td, table.displayFormLayoutTable tr td .userSupplied {
    vertical-align: text-top;
    padding-top: 1em;
    font-size: inherit;
}

table.displayFormLayoutTable tr td .label {
    white-space: nowrap;
    text-align: right;
    display: block;
}

.serverDefault {
    color: gray;
    font-style: italic;
}

.userSupplied {
    font-size: larger;
}

#ad {
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

#gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#adPlaceHolder {
    height: 60px;
}

.bigWorkout {
    border: solid thick #824900;
    text-align: center;
    margin: 1.5em;
    padding: 3px;
}

.bigWorkout .workout {
    font-size: 20px;
}

.messageNumber {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    padding: 0 0 6px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    left: 0;
}

a.messageLink {
    position: relative;
    text-decoration: none;
    display: block;
    zoom: 1;
}

a.messageLink:hover {
    color: black;
}

.messageLink:hover {
    text-decoration: none;
    color: inherit;
}

.messageLink img {
    vertical-align: bottom;
}

.pagination {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.paginationPrevious, .paginationNext {
    margin-top: 0.5em;
}

.paginationPrevious {
    float: left;
}

.paginationNext {
    float: right;
}

.actionMessages li {
    background: #D97900;
    list-style: none;
    text-align: center;
    font-size: x-large;
    margin-right: 20%;
    margin-left: 20%;
}

a.selected {
    font-size: large;
}

.newMessages {
    vertical-align: super;
    color: red;
    font-weight: normal;
}

div.userSupplied {
    padding: 0.2em;
    margin: 1em 0;
    border: gray solid thin;
}

ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

li {
    background-image: url( /static/bullet.gif );
    background-position: 0 6px;
    background-repeat: no-repeat;
    padding-left: 12px;
}
