html, body, #body, #center {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

#map {
    overflow: hidden;
    height: 100%
}

#contentDecor, #menu {
    visibility: hidden;
}

#content {
    padding: 0 0 0 0
}

#contentWrapper {
    height: 100%;
}

#heading {
    display: none;
}

#controlPanel {
    height: 100%;
    width: 160px;
    float: left;
    background-color: white;
    padding: 5px;
}

#mapGlobalContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

a.copyright {
    color: white;
}

#deleteButton {
    position: absolute;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#deleteButton:hover {
    background-color: black;
}

button {
    margin: 0 2px;
}

#trackTable {
    display: block;
    width: 100%;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    border: gray thin solid;
}

#tip {
    font-size: 15px;
    background-color: yellow;
}

#tip img {
    height: 18px;
}

h3 {
    margin: 0.3em 5px;
}
